<a class="sidebar-brand  brand-logo mb-5" href="app/home">
    <img  src="~/logo.png" alt="logo"/>
    </a>

<a class="sidebar-brand brand-logo_mini p-lg-4 pt-3" href="app/home">
    <img src="~/logo.png" alt="logo" style="width:40px" />
    </a>