<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebUi.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link  rel="stylesheet" href="_content/NetcodeHub.Packages.UI.Templates.Breeze/css/bootstrap.min.css"/>
    <link  rel="stylesheet" href="_content/NetcodHub.Packages.UI.Templates.Breeze/css/style.css"/>
    <link  rel="stylesheet" href="_content/NetcodeHub.Packages.UI.Templates.Breeze/icon/materialdesignicons.min.css"/>
    <link  href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet"/>
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"/></script>
    <script src="_content/NetcodeHub.Packages.Components.Modal/modal.js"></script> 
    <link  href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/custom.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="/bootstrap/js/bootsrap.bundle.min.js"></script>
    <script src="_content/NetcodeHub.Packages.UI.Templates.Breeze/js/bootstrap.bundle.min.js"></script>
    <script src="_content/NetcodeHub.Packages.UI.Templates.Breeze/js/base.js"></script>
    <script src="_conteny/NetcodeHub.Packages.UI.Templates.Breeze/js/settings.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>